.product_top .catalog_top{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

@media screen and (max-width: 659px) {
	.product_top .catalog_top {
		justify-content: center;
	}
}

