.compare-page .action-btn{
    margin: 10px 0;
}
.compare-page .action-btn a{
    border: 1px solid #ced5d9;
    padding: 5px 10px;
    line-height: 26px;
    background: #fff;
    border-radius: 3px;
    color: #333;
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 10px;
}

.compare-page .action-btn a.current{
    border-color: #0464bb;
    color: #0464bb;
}

@media screen and (max-width: 1019px){
    .compare-page .action-btn a{
        width: 100%;
        display: block;
        text-align: center;
    }
}

